/* CSS file */
@namespace "library://ns.adobe.com/flex/mx";

Application {
	themeColor: #B6CFFF;
	backgroundGradientColors: #ffffff, #ffffff;
	verticalGap: 30;
}

Panel {
	headerColors: #B6CFFF,#E5FFFF;
	borderAlpha: 1;
	cornerRadius: 0;
	borderThicknessBottom: 0;
	borderThicknessLeft: 0;
	borderThicknessRight:0;
	paddingTop: 20;
	paddingLeft: 10;
	paddingRight: 10;
	paddingBottom: 20;
	verticalGap: 30;
	horizontalCenter: 0;
	verticalCenter: 0;
}


Button {
	cornerRadius: 10;
}


Label {
	fontWeight: bold;
	color: #000000;
}

.error {
	fontWeight: bold;
	color: #FF1217;
}